{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company's Name</th>
            <th>Number of shares</th>
            <th>Buy/Sell value</th>
            <th>Date of transaction</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
    {% for row in main_table %}
        <tr>
            <td>{{row.symbol}}</td>
            <td>{{row.name}}</td>
            <td>{{row.shares_num}}</td>
            <td>{{usd(row.cost)}}</td>
            <td>{{row.time}}</td>
            {% if row.operation_type == 0 %}
            <td>Sell</td>
            {% endif %}
            {% if row.operation_type == 1 %}
            <td>Buy</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<br>

<table>
    <thead>
        <tr>
            <th>Operations</th>
        <tr>
    <thead>
    <tbody>
        <tr>
            <th>{{usd(result)}}</th>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-lg-2">
            <p><a class="btn btn-primary" href="/quote" method="get">Quote</a></p>
        </div>
        <div class="col-lg-2">
            <p><a class="btn btn-primary" href="/buy" method="get">Buy</a></p>
        </div>
        <div class="col-lg-2">
            <p><a class="btn btn-primary" href="/sell" method="get">Sell</a></p>
        </div>
        <div class="col-lg-2">
            <p><a class="btn btn-primary" href="/history" method="get">History</a></p>
        </div>
    </div>
</div>


{% endblock %}


